<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem id="menu_root" name="MODUL KEDATECH" sequence="10"/>
        <menuitem id="material_categ" name="Material" parent="menu_root" sequence="10"/>
        <menuitem id="supplier_categ" name="Supplier" parent="menu_root" sequence="10"/>
    </data>
</odoo>